#fale-whatsapp{
    .modal-content{
        border-radius: 10px;
        border: none;
        background: none;
        overflow: hidden;
    }
    .modal-body{
        padding: 0;
    }
    
    .title-area{
        background: #128C7E;
        font-family: $font_montserrat;
        padding: 15px;
        color: $white;
        margin-bottom: 0;
        padding-left: 60px;
        position: relative;
        
        .icon{
            position: absolute;
            left: 15px;
            top: 15px;
            font-size: 2.5em;
        }
        
        .title{
            font-size: 1.2em;
            font-weight: 600;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        .subtitle{
            font-size: 0.8em;
            line-height: 1.2em;
            margin-bottom: 0;
        }
        
        .close{
            position: absolute;
            right: 6px;
            top: 6px;
            width: 20px;
            height: 20px;
            opacity: 0.3;
            
            &:hover {
                opacity: 1;
            }
            &:before, &:after {
                position: absolute;
                left: 9px;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: $white;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }    
    }
    
    .form{
        background: #ECE5DD;
        padding: 15px;
        
        .form-control{
            border-radius: 50px;
        }
        input, textarea{
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            font-size: 0.9em;
        }
        label{
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        .form-group{
            margin-bottom: 15px;
            max-height: 100%;
            height: auto;
            position: relative;
            
            &.form-placeholder-fixed{
                flex-direction: row;
                flex-wrap: wrap;
                
                input, textarea, .placeholder{
                    height: 54px;
                    max-height: 54px;
                }
                
                .placeholder{
                    order: 1;
                    .icon{
                        color: #25D366;
                    }
                }
                input, textarea{
                    order: 2;
                }
                .form-control{
                    box-shadow: none !important;
                    &:focus{
                        border-color: #00bfa5 !important;
                        
                        @include form_placeholder(){
                            color: #00bfa5 !important;
                        }
                        
                        & + .placeholder{
                            border-color: #00bfa5 !important;
                            
                            .icon{
                                color: #00bfa5;
                            }
                        }
                    }

                    &.error{
                        &, &:focus{
                            border-color: $red !important;

                            @include form_placeholder(){
                                color: $red !important;
                            }
                            & + .placeholder{
                                border-color: $red !important;
                                
                                .icon{
                                    color: $red !important;
                                }
                            }
                        }
                    }
                }
                
                &.msg{
                    max-height: 100px;
                    height: 100px;

                    .placeholder, .form-control{
                        height: 100%;
                        max-height: 100%;
                    }
                    
                    .placeholder{
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        height: 100%;
                    }
                    .form-control{
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
            
            label.error{
                //             position: absolute;
                // bottom: -20px;
                // left: 36px;
                margin: 5px 0 0 35px !important;
                font-size: 0.7em;
                width: 100%;
                order: 3;
            }
        }
        
        .btn-wrap{
            text-align: center;
            
            .btn{
                margin: 0 auto;
                border-radius: 50px;
                padding: 12px 2.5em 15px;
            }
        }
    }
}